#mywebsite {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#landing {
    background-image: url("landing-img.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}